https://learning.oreilly.com/videos/introduction-to-pandas/9781771375764/9781771375764-video240037

### Numpy
has arrays that are more performant than python lists; python lists 'box in' integers into obejcts, where numpy is build on C and Fortran and uses less memory

In [1]:
import numpy as np

In [2]:
temp_np = np.array([30, 45, 60, 90])
temps = [30, 45, 60, 90]

In [3]:
temp_np

array([30, 45, 60, 90])

### Pandas Series

In [4]:
import pandas as pd

In [5]:
temp_ser = pd.Series([30, 80, 60, 90], name='Temperature')
temp_ser

0    30
1    80
2    60
3    90
Name: Temperature, dtype: int64

LHS of output: called the 'index'

In [6]:
temp_ser.sum()

260

In [7]:
temp_ser.mean()

65.0

### Boolean Arrays

In [8]:
hot = pd.Series([False, False, True, True])

In [9]:
hot

0    False
1    False
2     True
3     True
dtype: bool

In [10]:
temp_ser[hot]
# can use Boolean Arrays for filtering

2    60
3    90
Name: Temperature, dtype: int64

In [11]:
mask = temp_ser +  55
mask

0     85
1    135
2    115
3    145
Name: Temperature, dtype: int64

mask: do a boolean operation on a series

In [12]:
mask2 = temp_ser < 90

In [13]:
temp_ser[mask & mask2]
# double filterring option with masks

0    30
1    80
2    60
Name: Temperature, dtype: int64

Operations: 
| or
& and
~ not

### Series Index

In [14]:
temp_ser.index
# pandas is flexible as to what an index can be

RangeIndex(start=0, stop=4, step=1)

In [15]:
temp2 = pd.Series(temps, name="Temp2", index=['M', 'T', 'W', 'TH'])

In [16]:
temp2 # notice that index is STRING based, NOT integer based

M     30
T     45
W     60
TH    90
Name: Temp2, dtype: int64

In [17]:
dates = pd.date_range('20160101', periods=4)

In [18]:
temp3 = pd.Series(temps, name='Temp3', index=dates)

In [19]:
temp3

2016-01-01    30
2016-01-02    45
2016-01-03    60
2016-01-04    90
Freq: D, Name: Temp3, dtype: int64

### Pandas Data Types

In [20]:
import pandas as pd 
ser = pd.Series(range(10))
ser2 = pd.Series([1.1, 2, 3, 4])
ser3 = pd.Series(['a', 'b', 'c'])
ser3.dtype # = 'O' which stands for object

dtype('O')

In [21]:
ser4 = pd.Series([{}, [], (2,3)])

In [22]:
ser5 = pd.Series(['2015-01-01'])
ser5.dtype

dtype('O')

In [23]:
ser6 = pd.to_datetime(ser5)

In [24]:
ser7 = pd.Series(['Prius', 'Accord', 'Camry'])
ser8 = pd.Series(['Prius', 'Accord', 'Camry'], dtype='category')
ser8

0     Prius
1    Accord
2     Camry
dtype: category
Categories (3, object): [Accord, Camry, Prius]

#### categories are similar to factors in R
#### used for categoriacl data

In [25]:
temps = [30, 40, 50, 60]
s = pd.Series(temps)
40 in s

False

#### when you do a containment check (is something in sometihng) for a Series, its not checking against the values, its checking against the index

In [26]:
40 in s.values

True

In [27]:
s.iteritems()

In [28]:
for i, val in s.iteritems():
    print('i ', i, 'val', val)

i  0 val 30
i  1 val 40
i  2 val 50
i  3 val 60

### Broadcasting
specific to numpy and pandas
##### can create masks and filter with as well

In [29]:
s + 2 # s is a vector, or a 1-dimesional matrix; adding to it a scalar

0    32
1    42
2    52
3    62
dtype: int64

In [30]:
s - s

0    0
1    0
2    0
3    0
dtype: int64

In [31]:
s == 4

0    False
1    False
2    False
3    False
dtype: bool

In [32]:
s != s

0    False
1    False
2    False
3    False
dtype: bool

In [33]:
s2 = pd.Series([10, 20, 30], index=[2,3,4])

In [34]:
 s + s2

0     NaN
1     NaN
2    60.0
3    80.0
4     NaN
dtype: float64

##### when doing addition on series in pandas, will align based on INDEX

In [35]:
def add_2(val):
    return val + 2

s.apply(add_2)

0    32
1    42
2    52
3    62
dtype: int64

##### `apply` passes in the function, does NOT invoke the function

In [36]:
s.apply(float)

0    30.0
1    40.0
2    50.0
3    60.0
dtype: float64

In [37]:
s.astype(str)

0    30
1    40
2    50
3    60
dtype: object

### CRUD Operations Reading

In [38]:
s[0] # read an item at an index --> location and position

30

In [39]:
s.loc[3] # gives value based on the label

60

In [40]:
s.iloc[-2] # based on position; can do negative indexing

50

In [41]:
temp2 = pd.Series(temps, index=['M', 'T', 'W','TH'])

In [42]:
temp2['M']

30

In [43]:
temp2.loc['T']

40

In [44]:
temp2[-3]

40

In [45]:
temp2.iloc[0]

30

In [46]:
temp2.transpose() # aka temp2.T

M     30
T     40
W     50
TH    60
dtype: int64

### CRUD Operations Update

#### series treated like a mutable object, mutating it in place
#### when appending, appending a VECTOR to another VECTOR

In [47]:
temp2.W = 20

In [48]:
temp2

M     30
T     40
W     20
TH    60
dtype: int64

In [49]:
temp2.append(pd.Series([100], index=['F']))

M      30
T      40
W      20
TH     60
F     100
dtype: int64

In [50]:
temp2.set_value('M', 10) # set_value updates in place AND returns the series

M     10
T     40
W     20
TH    60
dtype: int64

temp2

### CRUD operations Deletion

In [51]:
del temp2['M'] # removing items based on index

In [52]:
temp2

T     40
W     20
TH    60
dtype: int64

In [53]:
temp2[temp2 < 50] # give me temp2 under this conditions; 
# does NOT change original series

T    40
W    20
dtype: int64

In [54]:
mask = temp2 < 50
temp2[mask]

T    40
W    20
dtype: int64

In [55]:
mask = temp2.index == 'T' # can use masks to filter things out of a series
temp2[mask]

T    40
dtype: int64

### Summary Statistics

In [56]:
temp2.median()

40.0

In [57]:
temp2.describe()

count     3.0
mean     40.0
std      20.0
min      20.0
25%      30.0
50%      40.0
75%      50.0
max      60.0
dtype: float64

In [58]:
ser8.value_counts()

Prius     1
Camry     1
Accord    1
dtype: int64

In [59]:
ser8.describe()

count         3
unique        3
top       Prius
freq          1
dtype: object

In [60]:
temp2.quantile(.1)

24.0

### Dealing with Duplicates

In [61]:
temp3 = temp2.append(pd.Series([60], index=['F']))
temp3

T     40
W     20
TH    60
F     60
dtype: int64

In [62]:
temp3.duplicated() # says if the value has been duplicated (not the index)

T     False
W     False
TH    False
F      True
dtype: bool

In [63]:
temp3.duplicated().any()

True

In [64]:
temp3.duplicated(keep='last')

T     False
W     False
TH     True
F     False
dtype: bool

In [65]:
mask = temp3.duplicated(keep=False)
temp3[mask]

TH    60
F     60
dtype: int64

In [66]:
temp3[~mask]

T    40
W    20
dtype: int64

In [67]:
temp3

T     40
W     20
TH    60
F     60
dtype: int64

In [68]:
temp3.drop_duplicates(keep=False)

T    40
W    20
dtype: int64

In [69]:
temp4 = temp3.append(pd.Series([100], index = ['M']))

In [70]:
temp4

T      40
W      20
TH     60
F      60
M     100
dtype: int64

In [71]:
temp4.iloc[-1]

100

In [72]:
temp4.loc['M']

100

### Dealing with NAN

#### Generally, pandas will convert `None` into NaN

In [73]:
temp6 = pd.Series([1,3,None])

In [74]:
temp6

0    1.0
1    3.0
2    NaN
dtype: float64

In [75]:
temp7 = temp3.append(pd.Series([100, None], index=['F', 'Su']))

In [76]:
len(temp7)

6

In [77]:
temp7

T      40.0
W      20.0
TH     60.0
F      60.0
F     100.0
Su      NaN
dtype: float64

In [78]:
temp7.rename(index={'F':'M'},inplace=True)
temp7

T      40.0
W      20.0
TH     60.0
M      60.0
M     100.0
Su      NaN
dtype: float64

In [79]:
index = temp7.index.tolist()
index[3] = 'F'
index

['T', 'W', 'TH', 'F', 'M', 'Su']

In [80]:
temp7.index = index

In [81]:
temp7

T      40.0
W      20.0
TH     60.0
F      60.0
M     100.0
Su      NaN
dtype: float64

In [82]:
len(temp7)

6

In [83]:
temp7.count() # count ignores NaN

5

In [84]:
temp7 + 2 # broadcast ignores NaN

T      42.0
W      22.0
TH     62.0
F      62.0
M     102.0
Su      NaN
dtype: float64

In [85]:
temp7.isnull() # can do masks and filters

T     False
W     False
TH    False
F     False
M     False
Su     True
dtype: bool

In [86]:
temp7.isnull().any()

True

In [87]:
temp7.notnull()

T      True
W      True
TH     True
F      True
M      True
Su    False
dtype: bool

In [88]:
temp7.dropna()

T      40.0
W      20.0
TH     60.0
F      60.0
M     100.0
dtype: float64

In [89]:
temp7

T      40.0
W      20.0
TH     60.0
F      60.0
M     100.0
Su      NaN
dtype: float64

In [90]:
temp7.fillna(-1)

T      40.0
W      20.0
TH     60.0
F      60.0
M     100.0
Su     -1.0
dtype: float64

### Serialization

In [91]:
temp3

T     40
W     20
TH    60
F     60
dtype: int64

In [92]:
temp3.name = 'Temps'
temp3.to_csv('/temp.csv', header=True, index_label='Index')

PermissionError: [Errno 13] Permission denied: '/temp.csv'

# Dataframe Basics

### Columnar Data

In [ ]:
cols = {'name': ['Paul', 'George', 'Ringo'], 'age': [22, 21, 23] } # column names

In [ ]:
df = pd.DataFrame(cols)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.age #pull off a column to get a series

In [ ]:
df['age']

In [ ]:
df.describe()

### Simliarities to Python Dictionaries

In [ ]:
df['last'] = pd.Series(['Lennon', 'McCartney', 'Starkey'], index=[4, 0, 2])

In [1]:
df

NameError: name 'df' is not defined

In [ ]:
df['instrument'] = ['Base', 'Guitar', 'Drums']

In [ ]:
df

In [ ]:
df['birthplace'] = 'Liverpool' # broadcasting

In [ ]:
df

In [ ]:
df.age # attribute access, returns a series

In [ ]:
df['age'] # index access

In [ ]:
del df['last'] # inplace deletion on a column

In [ ]:
df

In [ ]:
df.pop('birthplace')

### Creation from Lists and Dicts

In [ ]:
df = pd.DataFrame(cols, columns=['name', 'age'])

In [4]:
import pandas as pd
ser = pd.Series([1,2,3])
df = pd.DataFrame(ser)
df1 = pd.DataFrame(ser, columns=['answer'])
df1

   answer
0       1
1       2
2       3

In [ ]:
rows = [{'name': 'Paul', 'age': 22}, {'name': 'George', 'age': 21}]

In [ ]:
df = pd.DataFrame(rows)
df

### Exploring Data

In [ ]:
df.describe()
df.info()
df.dtypes
df.name.value_counts()

In [ ]:
df.name.astype('category')
df.info()

In [ ]:
df.head() #first five rows
df.tail() # last five rows

In [ ]:
df.shape # rows x cols

### Axes of Dataframes

#### series in dataframes have 1 axis
#### the first axis in a dataframe is the row axis
#### the second axis is the column headers

In [ ]:
df.axes
df.axes[0] # row info.  index
df.axes[1] # column info. headers

In [ ]:
df.sort_index(axis=0, ascending=False)

### Index and Columns

In [ ]:
df.index # == df.axes[0]

In [ ]:
df.index.values

In [ ]:
df.index.unique() # return an array of the unique index values

In [ ]:
df.index.duplicated().any()

In [ ]:
df.index.duplicated().all()

In [ ]:
dupe_index = pd.Index([1, 1, 1])

In [ ]:
dupe_index.duplicated()

In [ ]:
dupe_index.duplicated().any()

In [ ]:
dupe_index.duplicated().all()

In [ ]:
df.columns.duplicated()

In [ ]:
df.axes[0] is df.index # identity check; same object

### Transposing Data

In [ ]:
df.T

In [ ]:
df.T.iloc[:, :1]

### Adding Rows

In [ ]:
df = pd.DataFrame({'year': [2015, 2016], '3PA': [11.1, 11.2], '3PM': [5.1, 5.2]})

In [ ]:
df2 = pd.DataFrame([{'year': 2014, '3PA': 11.3, '3PM': 5.3}])

In [ ]:
df.append(df2, ignore_index=True) # ignore_index prevecnts duplicated index values

In [ ]:
df3 = pd.concat([df, df2], ignore_index=True)

In [ ]:
df3.loc[3] = [11.3, 5.4, 2017] # NOT iloc, but loc -- index operation based on the NAME

In [ ]:
df3

### Adding Columns

In [ ]:
df3['PTS'] = [32, 33, 29, 33] # make a list that is the same lenth as the # of rows

In [ ]:
df3

In [ ]:
df3.PTS.describe()

In [ ]:
df3.Team = 'Golden State' # WONT work for broadcasting
df3['Team'] = 'Golden State' # WILL work for braodcasting
df3

In [ ]:
df3.loc[:, 'Leauge'] = 'NBA' # first column -- i want to assign this to all the rows
# after the comma - for the columns i want to make this column, then assign it to NBA

In [ ]:
df3

### Applying Functions to Columns

In [ ]:
df3['3PM']/df3['3PA'] # vecgtorized operation

In [ ]:
def percent(vals):
    made, attempt = vals
    return made/ attempt * 100

In [ ]:
df3['3PP'] = df3[['3PM', '3PA']].apply(percent, axis=1) # axis 1 -- take a value from 1 column, 
# then a value from another column

In [ ]:
df3

In [ ]:
df3['3PP'].apply(lambda x: x/100)

In [ ]:
df3

### Removing Columns

In [ ]:
df = df3[['3PA', '3PM']] #slice out the columns that you want into a new df
df

In [ ]:
df3.pop('Leauge')

In [ ]:
del df3['year']

#### Renaming Colkumns

In [ ]:
df3.rename(columns={'3PM': 'Three PM'})
df3

### Sorting Data

In [ ]:
df3

In [ ]:
df3.set_value(4, 'Team', 'Golden State')

In [ ]:
df3.sort_values('PTS', ascending=False)

In [ ]:
df3.sort_values(['3PM', '3PA'], na_position='first')

In [ ]:
df3.sort_index(ascending=False)

### Iterating Over Data
#### Iterating using for loop of a dataframe -- iterating over the column names

In [ ]:
for col_name in df3:
    print(col_name)

In [ ]:
for a, val in df3.iteritems(): # iteritems prints col, then values as a series 
    print('a', a, 'val:', val)

In [ ]:
for tup in df3.itertuples(): # include the index.  print each value, row as a tuple
    print(tup)

In [ ]:
for row in df3.iterrows(): # returns a tuple (index, [row values series])
    print(row)

### Setting Data

In [ ]:
df3.set_value? # mutates your data frame

In [ ]:
df3.loc[0, '3PM'] = 1

In [ ]:
df3

In [ ]:
df3.iloc[2, 3] = 444
df3

### Concat with Rows

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'name': ['John', "George", 'Ringo'],
                    'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', "George", 'Ringo'],
                    'carcolor': ['Red', 'Blue', np.nan]}, 
                   index=[3, 1, 2])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2], join='inner')

### Concat with Cols

In [ ]:
pd.concat([df1, df2], axis=1)

### Inner Join

In [ ]:
df1.merge(df2) # equiv to df1.merge(df2, how='inner')

### Outer Join

In [ ]:
df1.merge(df2, how='outer') # can pass in left_index parameter for overlapping indexes

### Left Join

In [ ]:
df1.merge(df2, how='left')

In [ ]:
df1.merge(df2, how='left')

### Right Join